@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth;
 }
 
 .draggable.active {
  cursor: url('assets/hand.png'), auto;
  cursor: -webkit-grabbing;
}
.draggable {
  cursor: url('assets/hand.png'), auto;
  cursor: -webkit-grab;
}


.tag {
  opacity: 1;
  transform: translate(0, 10vh);
  transition: all 0.5s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}


.changeimage {
	width: 100%;
	animation: change-img-anim 6s infinite;
}
@layer base {
@font-face{
  font-family: 'HELVETICA';
  src: url('./fonts/Helvetica.ttf')
}
@font-face{
  font-family: 'COUTURE';
  src: url('./fonts/couture-bld.otf')
}
@font-face{
  font-family: 'HELVETICA-LIGHT';
  src: url('./fonts/helvetica-light-587ebe5a59211.ttf')
}
@font-face{
  font-family: 'RECOLETA';
  src: url('./fonts/Recoleta-RegularDEMO.otf')
}
}
@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #FF4800;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #FF4800;
    border-radius: 100vh;
    border: 3px solid #FF4800;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #FF4800;
  }
}

.changeimage:nth-of-type(1) {
    animation-delay: 4s;
}

.changeimage:nth-of-type(2) {
  animation-delay: 2s;
}

.changeimage:nth-of-type(3) {
  animation-delay: 0s;
}

@keyframes change-img-anim {
	0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.text-90vh {
    font-size: 5.2vw;
}
.text-mob {
  font-size: 11vw;
}
.text-40vh {
  font-size: 4vw;
}
.text-50vh {
  font-size: 6vw;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* CSS */
.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color:  white;
    background: #FF4800;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 100px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-85:before {
    content: "";
    /* background: linear-gradient(
      45deg,
      #f36c25,
      #fdb72c,
      #bb2828
      
    ); */
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 50px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FF4800;
    left: 0;
    top: 0;
    border-radius: 50px;
  }
  
  .fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }
  
  
  @keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
 /* Button styles */
 .navbutton {
  font-size: 16px;
  font-weight: 500;
  color: #444545;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Transition properties */
}

/* Button hover styles */
.navbutton:hover {
  color:#f36c25;
  transform: translateY(-5px); /* Move the button up by 5px */
  transition: transform 0.3s ease, color 0.3s ease; /* Add transition for both transform and color */

}

.skilldouble {
  color: #31302B;
  font-family: 'poppins', sans-serif;
    letter-spacing: 1px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #FF4800;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}
.skilldouble:hover {
    box-shadow: inset 2000px 0 0 0 #e1531b;
    color: #fff;
}


.shadow-custom {
  --shadow-blur: 19.17px;
  --shadow-spread: 4.79px;
  --shadow-x: 0px;
  --shadow-y: 3.83px;
  --shadow-color: rgba(0, 0, 0, 0.05);
  box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-spread) var(--shadow-color);
}

.services-box {
  min-width: 250px;
  display: inline-block;
  text-align: left;
  color: white;
  position: relative; /* Needed for absolute positioning */

  /* Linear gradient from bottom to top */
  background-image: linear-gradient(to top, #FF4800 50%, rgb(243 244 246) 50%);
  background-size: 100% 200%; /* Width: 100%, Height: 200% to fill bottom to top */
  background-position: top; /* Start position: top */
  transition: background-position 0.3s ease-in; /* Transition for background position */
 /* Media query for viewport width above 770px */
 @media (min-width: 770px) {
  min-width: 300px; /* Set width to 300px when viewport width is above 770px */
}
}

.services-box:hover {
  background-position: bottom; /* Change background position to bottom on hover */
}

.heading {
  text-decoration: underline;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 10px;
  position: absolute;
  bottom: 0px; /* Adjust the bottom distance as needed */
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out; /* Transition for heading */
}

.description {
  padding-left: 20px;
  padding-right: 10px;
  position: absolute;
  bottom: 15%; /* Adjust the bottom distance as needed */
  color: black; /* Description text color */
}

.services-box:hover .heading {
  color: white; /* Change heading text color on hover */
}

.services-box:hover .description {
  color: white; /* Change description text color on hover */
}
.menu-container {
  position: relative;
  display: inline-block;
}

.menu-button {
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.dropdown-content {
  
  display: none;
  left: 50%;
  top:10%;
  transform: translateX(-50%);
  position: fixed;
  background-color:#FDB72C;
  width: 100%; /* Adjust the width as needed */
  height: 100%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  font-size: 32px;
  text-align: center;
}

.menu-container:hover .dropdown-content {
  display: block;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    height: 0;
  }
  to {
    height: 100%;
  }
}
.show {
  display: block;
}

.selected {
  background-color: #FF4800;
  color: white;
}
#service-description {
  overflow: hidden;
}
.scrolling-text-container {
  position: relative;
  height: 100%; /* Ensures it takes full height of its parent */
  width: 100%;
  display: flex;
  align-items: flex-end; /* Aligns the span to the bottom */
  box-sizing: border-box;
  margin-top: 1rem; /* mt-4 */
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  animation: scrollText 10s linear infinite;
  font-size: 6rem; /* text-8xl */
  font-weight: bold; /* font-bold */
  text-transform: uppercase; /* uppercase */
  color: white; /* text-white */
  text-align: center; /* text-center */
}


@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}



.carouselOfImages{
  position: relative;
  margin: auto;
  overflow: visible;
  width: 100%;
}
.gradient-left{
  display: block;
  position: relative;
  background-image: linear-gradient(to right, whitesmoke, transparent 100%);
    margin-top: -270px;
  height: 150px;
  width: 8%;
  content: '';
}
.gradient-right{
  display: block;
  position: relative;
  float: right;
  right:0;
  background-image: linear-gradient(to left, whitesmoke, transparent 100%);
      margin-top: -150px;
  height: 150px;
  width:8%;
  content: '';
}

.carouselImage {
    position: relative;
    width: 20%;
    height: 45px;
    padding: 24px;
    border: 1.5px solid black;
    margin-right: 33px;
    margin-top: 70px;
    margin-bottom: 50px;
    counter-increment: carousel-cell;
    text-align: center;
    vertical-align: center;
    transition: transform 0.5s;
    font-size: 1.2em;
  }
@media only screen and (max-width: 1300px){
    .carouselImage{
        width: 30%;
    }
}
@media only screen and (max-width: 773px){
    .carouselImage{
        width: 50%;
    }

}
@media only screen and (max-width: 490px){
    .carouselImage{
        width: 50%;
        padding: 15px;
    }

}


.carouselImage.is-selected {

border: 1.5px solid #00ADEE;
color:#00ADEE;
  z-index:10;
  transform: scale(1);
}
.carouselImage.nextToSelectedLeft, .carouselImage.nextToSelectedRight {
  transform: scale(1);
  z-index:5;
}

/*! Flickity v2.0.5
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

/* .flickity-enabled:focus { outline: none; } */

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
/*           tap-highlight-color: transparent; */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.flickity-viewport {
    margin: 0px;
    width: 100%;
    margin-bottom: 100px;
}
